// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.centerInPage{
    position: relative;
    @include ltr() {
          // Custom ltr style goes here
        left: 50%;
        transform: translate(-50%);
      }
  
      @include rtl() {
          // Custom rtl style goes here
          right: 50%;
          transform: translate(50%);
      }
  }

  ion-content{
    text-align: center;
    align-content: center;
  }
  
  .center{
    position: relative;
    width: 100%;
  
    @include ltr() {
          // Custom ltr style goes here
        left: 50%;
        transform: translate(-50%);
      }
  
      @include rtl() {
          // Custom rtl style goes here
          right: 50%;
          transform: translate(50%);
      }
  }

  .bg-primary{
    background-color: map-get($colors, primary);
    color: white;
  }

  .leftText{
    text-align: left;
  }